Repository ckellywilson/eco-aks-adr: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-spoke.yml, azure-pipelines.yml

azure-pipelines-spoke.yml:
  stages:
  - stage: Validate
    displayName: Validate Spoke Terraform Code
    jobs:
    - job: ValidateSpoke
      displayName: Validate Spoke Configuration
      steps:
      - checkout: self
      - task: TerraformInstaller@0
        inputs:
          terraformVersion: $(terraform_version)
  ...

azure-pipelines.yml:
  stages:
  - stage: Validate
    displayName: Validate Terraform Code
    jobs:
    - job: ValidateHub
      displayName: Validate Hub Configuration
      steps:
      - checkout: self
      - task: TerraformInstaller@0
        inputs:
          terraformVersion: $(terraform_version)
      - task: TerraformTaskV4@4
  ...

fix(pipeline): hardcode terraform version to 1.10.5 in TerraformInstaller tasks
  azure-pipelines-hub.yml
Due: none

fix(pipeline): update Validate stage with hardcoded terraform version 1.10.5
  azure-pipelines-hub.yml
Due: none

fix(pipeline): change terraformVersion from 1.9.x to 1.10.5
  .azdo/pipelines/hub-deploy.yml
Due: none

refactor(pipelines): clean up duplicate pipeline definitions
  .azdo/pipelines/spoke-deploy.yml
  azure-pipelines-hub.yml
  azure-pipelines-spoke.yml
Due: azure-pipelines-spoke.yml

chore(terraform, gitignore): add backend config files and update gitignore
  .gitignore
  infra/terraform/hub-eastus/backend-prod.tfbackend
  infra/terraform/spoke-aks-prod/backend-prod.tfbackend
Due: azure-pipelines-spoke.yml, azure-pipelines.yml

fix(pipeline): add OIDC environment variables to terraform init template
  .azdo/pipelines/templates/terraform-init.yml
Due: none

fix(pipeline): disable Azure CLI credentials injection to allow OIDC
  .azdo/pipelines/templates/terraform-init.yml
Due: none

fix(pipeline): replace AzureCLI task with pure Bash for OIDC support
  .azdo/pipelines/templates/terraform-init.yml
Due: none

fix(pipeline): simplify terraform init to pure bash with OIDC variables
  .azdo/pipelines/templates/terraform-init.yml
Due: none

fix(pipeline): use AzureCLI@2 with OIDC for terraform init
  .azdo/pipelines/templates/terraform-init.yml
Due: none

refactor(pipeline): update terraform init comments for WIF clarity
  .azdo/pipelines/templates/terraform-init.yml
Due: none

fix(pipeline): enable service principal credentials for terraform init
  .azdo/pipelines/templates/terraform-init.yml
Due: none

fix(pipeline): use AzureCLI@2 WIF task without explicit OIDC variables
  .azdo/pipelines/templates/terraform-init.yml
Due: none

fix(pipeline): enable service principal credentials with WIF service connection
  .azdo/pipelines/templates/terraform-init.yml
Due: none

chore(cleanup): remove obsolete terraform plan files
  infra/terraform/hub-eastus/tfplan.prod
  infra/terraform/spoke-aks-prod/tfplan.prod
Due: azure-pipelines-spoke.yml, azure-pipelines.yml

chore(gitignore): exclude terraform plan and variable files
  .gitignore
Due: none

chore(ado): modernize pipeline templates and configuration
  .azdo/README.md
  .azdo/SETUP.md
  .azdo/pipelines/hub-deploy.yml
  .azdo/pipelines/spoke-deploy.yml
  .azdo/pipelines/templates/terraform-apply.yml
  .azdo/pipelines/templates/terraform-init.yml
  .azdo/pipelines/templates/terraform-plan.yml
  .azdo/pipelines/templates/terraform-validate.yml
Due: none

chore(devcontainer): modernize development environment configuration
  .devcontainer/devcontainer.json
  .vscode/mcp.json
Due: none

feat(hub): modernize hub-eastus infrastructure and backend configuration
  infra/terraform/hub-eastus/backend-prod.tfbackend
  infra/terraform/hub-eastus/main.tf
  infra/terraform/hub-eastus/outputs.tf
Due: azure-pipelines.yml

feat(spoke): modernize spoke-aks-prod infrastructure and add DNS verification utilities
  infra/terraform/spoke-aks-prod/backend-prod.tfbackend
  infra/terraform/spoke-aks-prod/data-sources.tf
  infra/terraform/spoke-aks-prod/locals.tf
  infra/terraform/spoke-aks-prod/main.tf
  infra/terraform/spoke-aks-prod/terraform.tf
  infra/terraform/spoke-aks-prod/verify-dns-config.sh
Due: azure-pipelines-spoke.yml, azure-pipelines.yml

chore(cleanup): remove unused GitHub Actions terraform workflow
  .github/workflows/terraform-deploy.yml
Due: none

chore(infra): comprehensive modernization and tooling updates (#26)
  .azdo/README.md
  .azdo/SETUP.md
  .azdo/pipelines/hub-deploy.yml
  .azdo/pipelines/spoke-deploy.yml
  .azdo/pipelines/templates/terraform-apply.yml
  .azdo/pipelines/templates/terraform-init.yml
  .azdo/pipelines/templates/terraform-plan.yml
  .azdo/pipelines/templates/terraform-validate.yml
  .devcontainer/devcontainer.json
  .github/workflows/terraform-deploy.yml
  .gitignore
  .vscode/mcp.json
  infra/terraform/hub-eastus/backend-prod.tfbackend
  infra/terraform/hub-eastus/main.tf
  infra/terraform/hub-eastus/outputs.tf
  infra/terraform/hub-eastus/tfplan.prod
  infra/terraform/spoke-aks-prod/backend-prod.tfbackend
  infra/terraform/spoke-aks-prod/data-sources.tf
  infra/terraform/spoke-aks-prod/locals.tf
  infra/terraform/spoke-aks-prod/main.tf
  infra/terraform/spoke-aks-prod/terraform.tf
  infra/terraform/spoke-aks-prod/tfplan.prod
  infra/terraform/spoke-aks-prod/verify-dns-config.sh
Due: azure-pipelines-spoke.yml, azure-pipelines.yml

chore(devcontainer): update Node.js version and simplify MCP configuration
  .devcontainer/devcontainer.json
  .vscode/mcp.json
Due: none

chore(devcontainer): update Node.js version and simplify MCP configuration (#28)
  .devcontainer/devcontainer.json
  .vscode/mcp.json
Due: none

chore(copilot): reset configuration to minimal starting point
  .azdo/README.md
  .azdo/SETUP.md
  .azdo/pipelines/hub-deploy.yml
  .azdo/pipelines/spoke-deploy.yml
  .azdo/pipelines/templates/terraform-apply.yml
  .azdo/pipelines/templates/terraform-init.yml
  .azdo/pipelines/templates/terraform-plan.yml
  .azdo/pipelines/templates/terraform-validate.yml
  .claude/README.md
  .claude/SKILLS_IMPLEMENTATION.md
  .claude/WORKFLOW_DIAGRAMS.md
  .claude/skills/README.md
  .claude/skills/terraform/generate-from-json/SKILL.md
  .claude/skills/validate-terraform/SKILL.md
  .github/INSTRUCTION_FILES.md
  .github/README.md
  .github/SETUP_CHECKLIST.md
  .github/TEMPLATE_INSTRUCTIONS.md
  .github/configs/customer-config-before.json
  .github/configs/customer-config-v2.json
  .github/configs/customer-config.example.json
  .github/configs/customer-config.json
  .github/configs/customer-config.multi-subscription.example.json
  .github/copilot-instructions.md
  .github/demos/egress-restriction-demo.md
  .github/docs/adr-to-hub-extraction-guide.md
  .github/docs/aks-configuration-decisions.md
  .github/docs/aks-configuration-quick-reference.md
  .github/docs/customer-requirements-quick-reference.md
  .github/docs/deployment-scenarios.md
  .github/docs/multi-subscription-test-cases.md
  .github/instructions/generate-modern-terraform-code-for-azure.instructions.md
  .github/instructions/terraform-azure-best-practices.instructions.md
  .github/instructions/terraform-flexible-json-mapping.instructions.md
  .github/prompts/cicd-pipelines.prompt.md
  .github/prompts/hub-landing-zone.prompt.md
  .github/prompts/spoke-aks.prompt.md
  .github/prompts/terraform/infrastructure.prompt.md
  .github/workflows/sync-prompts.yml
Due: none

chore(copilot): reset configuration to minimal starting point (#30)
  .azdo/README.md
  .azdo/SETUP.md
  .azdo/pipelines/hub-deploy.yml
  .azdo/pipelines/spoke-deploy.yml
  .azdo/pipelines/templates/terraform-apply.yml
  .azdo/pipelines/templates/terraform-init.yml
  .azdo/pipelines/templates/terraform-plan.yml
  .azdo/pipelines/templates/terraform-validate.yml
  .claude/README.md
  .claude/SKILLS_IMPLEMENTATION.md
  .claude/WORKFLOW_DIAGRAMS.md
  .claude/skills/README.md
  .claude/skills/terraform/generate-from-json/SKILL.md
  .claude/skills/validate-terraform/SKILL.md
  .github/INSTRUCTION_FILES.md
  .github/README.md
  .github/SETUP_CHECKLIST.md
  .github/TEMPLATE_INSTRUCTIONS.md
  .github/configs/customer-config-before.json
  .github/configs/customer-config-v2.json
  .github/configs/customer-config.example.json
  .github/configs/customer-config.json
  .github/configs/customer-config.multi-subscription.example.json
  .github/copilot-instructions.md
  .github/demos/egress-restriction-demo.md
  .github/docs/adr-to-hub-extraction-guide.md
  .github/docs/aks-configuration-decisions.md
  .github/docs/aks-configuration-quick-reference.md
  .github/docs/customer-requirements-quick-reference.md
  .github/docs/deployment-scenarios.md
  .github/docs/multi-subscription-test-cases.md
  .github/instructions/generate-modern-terraform-code-for-azure.instructions.md
  .github/instructions/terraform-azure-best-practices.instructions.md
  .github/instructions/terraform-flexible-json-mapping.instructions.md
  .github/prompts/cicd-pipelines.prompt.md
  .github/prompts/hub-landing-zone.prompt.md
  .github/prompts/spoke-aks.prompt.md
  .github/prompts/terraform/infrastructure.prompt.md
  .github/workflows/sync-prompts.yml
Due: none

docs(ghcp): add terraform destroy workflow instructions
  .github/instructions/terraform-destroy.instructions.md
Due: none

feat(infra): add terraform destroy wrapper script
  .github/copilot-instructions.md
  infra/scripts/destroy-with-recovery.sh
Due: none

docs: remove obsolete terraform setup documentation
  docs/ADO-TERRAFORM-SETUP.md
  docs/OIDC-REMOTE-STATE-CHANGES.md
Due: none

docs(ghcp): simplify copilot-instructions to repository-wide guidance only
  .github/copilot-instructions.md
Due: none

docs(hub): add hub infrastructure spec, rename hub-eastus to hub
  .github/instructions/hub-deploy.instructions.md
  .github/instructions/terraform-destroy.instructions.md
  README.md
  infra/terraform/hub/.terraform.lock.hcl
  infra/terraform/hub/README.md
  infra/terraform/hub/backend-prod.tfbackend
  infra/terraform/hub/backend-prod.tfbackend.example
  infra/terraform/hub/dev.tfvars.example
  infra/terraform/hub/locals.tf
  infra/terraform/hub/main.tf
  infra/terraform/hub/outputs.tf
  infra/terraform/hub/prod.tfvars.example
  infra/terraform/hub/providers.tf
  infra/terraform/hub/terraform.tf
  infra/terraform/hub/variables.tf
  infra/terraform/spoke-aks-prod/README.md
  infra/terraform/spoke-aks-prod/data-sources.tf
  infra/terraform/spoke-aks-prod/dev.tfvars.example
  infra/terraform/spoke-aks-prod/main.tf
  infra/terraform/spoke-aks-prod/prod.tfvars.example
  infra/terraform/spoke-aks-prod/variables.tf
Due: azure-pipelines-spoke.yml, azure-pipelines.yml

feat(hub): add ADO pipeline, fix firewall FQDN tags, add policy output
  .gitignore
  .vscode/mcp.json
  infra/terraform/hub/main.tf
  infra/terraform/hub/outputs.tf
  infra/terraform/hub/prod.tfvars
  pipelines/hub-deploy.yml
Due: azure-pipelines.yml

fix(hub): correct fqdn_tags to destination_fqdn_tags in firewall rules
  .github/instructions/hub-deploy.instructions.md
  infra/terraform/hub/main.tf
Due: azure-pipelines.yml

feat(pipeline): add repeatable ADO pipeline setup script and spec
  .github/instructions/ado-pipeline-setup.instructions.md
  scripts/setup-ado-pipeline.sh
Due: none

feat(hub): add configurable spoke RG + VNet provisioning
  .github/instructions/hub-deploy.instructions.md
  infra/terraform/hub/locals.tf
  infra/terraform/hub/main.tf
  infra/terraform/hub/outputs.tf
  infra/terraform/hub/prod.tfvars
  infra/terraform/hub/prod.tfvars.example
  infra/terraform/hub/variables.tf
Due: azure-pipelines.yml

docs(workflow): clarify admin vs dev workflow boundaries
  .github/copilot-instructions.md
Due: none

chore(spoke): rename spoke-aks-prod to spoke, clean state files
  .gitignore
  infra/terraform/spoke-aks-prod/.terraform.lock.hcl
  infra/terraform/spoke/README.md
  infra/terraform/spoke/backend-prod.tfbackend
  infra/terraform/spoke/backend-prod.tfbackend.example
  infra/terraform/spoke/data-sources.tf
  infra/terraform/spoke/dev.tfvars.example
  infra/terraform/spoke/locals.tf
  infra/terraform/spoke/main.tf
  infra/terraform/spoke/manifests/example-ingress.yaml
  infra/terraform/spoke/manifests/nginx-internal-controller.yaml
  infra/terraform/spoke/outputs.tf
  infra/terraform/spoke/prod.tfvars
  infra/terraform/spoke/prod.tfvars.example
  infra/terraform/spoke/providers.tf
  infra/terraform/spoke/terraform.tf
  infra/terraform/spoke/variables.tf
  infra/terraform/spoke/verify-dns-config.sh
Due: azure-pipelines-spoke.yml, azure-pipelines.yml

docs(spoke): create spoke SDD spec and resource request issue template
  .github/ISSUE_TEMPLATE/add-spoke-resource.yml
  .github/instructions/spoke-deploy.instructions.md
Due: none

feat(spoke): refactor to consume hub-created RG and VNet
  infra/terraform/hub/outputs.tf
  infra/terraform/spoke/data-sources.tf
  infra/terraform/spoke/locals.tf
  infra/terraform/spoke/main.tf
  infra/terraform/spoke/outputs.tf
  infra/terraform/spoke/prod.tfvars
  infra/terraform/spoke/variables.tf
Due: azure-pipelines.yml

fix(spoke): add subnet association dependencies to AKS module
  infra/terraform/spoke/main.tf
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-spoke.yml: any of: infra/terraform/spoke-aks-prod, azure-pipelines-spoke.yml
  azure-pipelines.yml: any of: infra/terraform, azure-pipelines.yml
