Repository ckellywilson/eco-aks-adr: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-hub.yml, azure-pipelines-spoke.yml, azure-pipelines.yml, pipelines/spoke-deploy.yml

Path conditions:
  azure-pipelines-hub.yml: any of: infra/terraform/hub-eastus, azure-pipelines-hub.yml
  azure-pipelines-spoke.yml: any of: infra/terraform/spoke-aks-prod, azure-pipelines-spoke.yml
  azure-pipelines.yml: any of: infra/terraform, azure-pipelines.yml
  pipelines/spoke-deploy.yml: any of: infra/terraform/spoke

feat(spoke): add firewall rules and ADO pipeline
  infra/terraform/spoke/README.md
  infra/terraform/spoke/main.tf
  infra/terraform/spoke/outputs.tf
  pipelines/spoke-deploy.yml
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

fix(spoke): align firewall rules with hub and add placeholder FQDN
  infra/terraform/spoke/main.tf
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

fix(pipelines): pin Terraform version to 1.10.5
  pipelines/hub-deploy.yml
  pipelines/spoke-deploy.yml
Due: none

fix(spoke): add route table association for aks_system subnet
  infra/terraform/spoke/main.tf
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

fix(infra): align Ubuntu FQDN rules with MS docs, add MS Learn MCP
  infra/terraform/hub/main.tf
  infra/terraform/spoke/README.md
  infra/terraform/spoke/main.tf
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

fix(spoke): address Copilot review comments on PR #32
  infra/terraform/spoke/README.md
  infra/terraform/spoke/data-sources.tf
  infra/terraform/spoke/main.tf
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

feat(spoke): complete infrastructure implementation and ADO pipeline (#32)
  infra/terraform/hub/main.tf
  infra/terraform/hub/outputs.tf
  infra/terraform/spoke/README.md
  infra/terraform/spoke/data-sources.tf
  infra/terraform/spoke/locals.tf
  infra/terraform/spoke/main.tf
  infra/terraform/spoke/outputs.tf
  infra/terraform/spoke/prod.tfvars
  infra/terraform/spoke/variables.tf
  pipelines/spoke-deploy.yml
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

docs(workflow): add post-merge cleanup step
  .github/copilot-instructions.md
Due: none

fix(hub): ignore Azure auto-assigned ip_tags on public IPs
  infra/terraform/hub/main.tf
Due: azure-pipelines.yml

fix(hub): ignore Azure auto-assigned ip_tags on public IPs (#34)
  infra/terraform/hub/main.tf
Due: azure-pipelines.yml

fix(infra): upgrade Terraform from 1.10.5 to 1.14.5
  infra/terraform/hub/terraform.tf
  infra/terraform/spoke/.terraform.lock.hcl
  infra/terraform/spoke/terraform.tf
  pipelines/hub-deploy.yml
  pipelines/spoke-deploy.yml
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

docs(hub): update Terraform version to 1.14.5 in README
  infra/terraform/hub/README.md
Due: azure-pipelines.yml

fix(infra): upgrade Terraform from 1.10.5 to 1.14.5 (#35)
  infra/terraform/hub/README.md
  infra/terraform/hub/terraform.tf
  infra/terraform/spoke/.terraform.lock.hcl
  infra/terraform/spoke/terraform.tf
  pipelines/hub-deploy.yml
  pipelines/spoke-deploy.yml
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

fix(spoke): correct AVM module output attribute names
  infra/terraform/spoke/outputs.tf
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

fix(spoke): correct AVM module output attribute names (#36)
  infra/terraform/spoke/outputs.tf
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

fix(infra): correct AVM module property and output names
  infra/terraform/hub/outputs.tf
  infra/terraform/spoke/data-sources.tf
  infra/terraform/spoke/main.tf
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

fix(infra): correct AVM module property and output names (#37)
  infra/terraform/hub/outputs.tf
  infra/terraform/spoke/data-sources.tf
  infra/terraform/spoke/main.tf
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

fix(hub): correct AVM output paths verified against module source
  infra/terraform/hub/outputs.tf
  infra/terraform/spoke/main.tf
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

Update infra/terraform/hub/outputs.tf
  infra/terraform/hub/outputs.tf
Due: azure-pipelines.yml

fix(hub): correct AVM output paths verified against module source (#38)
  infra/terraform/hub/outputs.tf
  infra/terraform/spoke/main.tf
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

docs(pipeline): add User Access Administrator role for spoke SP
  .github/instructions/ado-pipeline-setup.instructions.md
  scripts/setup-ado-pipeline.sh
Due: none

fix(config): add env auth and PAT to ADO MCP server config
  .vscode/mcp.json
Due: none

docs(specs): document AKS auto-created spoke VNet link behavior
  .github/instructions/hub-deploy.instructions.md
  .github/instructions/spoke-deploy.instructions.md
  infra/terraform/spoke/main.tf
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

feat(infra): add self-hosted ACI agents, centralize SSH keys, merge validation scripts
  infra/terraform/hub/cicd-agents.tf
  infra/terraform/hub/data-sources.tf
  infra/terraform/hub/locals.tf
  infra/terraform/hub/main.tf
  infra/terraform/hub/outputs.tf
  infra/terraform/hub/prod.tfvars
  infra/terraform/hub/terraform.tf
  infra/terraform/hub/variables.tf
  infra/terraform/spoke/data-sources.tf
  infra/terraform/spoke/main.tf
  infra/terraform/spoke/prod.tfvars
  infra/terraform/spoke/variables.tf
  pipelines/hub-deploy.yml
  pipelines/spoke-deploy.yml
  scripts/README.md
  scripts/setup-ado-pipeline.sh
  scripts/validate-deployment.sh
  scripts/validate-networking.sh
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

docs(instructions): update ADO pipeline spec for platform KV and dual repo support
  .github/instructions/ado-pipeline-setup.instructions.md
Due: none

fix(infra): correct AVM CI/CD module variables, PR review fixes, add TF quality gates
  .github/copilot-instructions.md
  infra/terraform/hub/cicd-agents.tf
  scripts/setup-ado-pipeline.sh
  scripts/validate-networking.sh
Due: azure-pipelines.yml

fix: address PR #39 Copilot review comments (round 2)
  infra/terraform/hub/cicd-agents.tf
  infra/terraform/hub/variables.tf
  infra/terraform/spoke/variables.tf
  scripts/README.md
  scripts/setup-ado-pipeline.sh
  scripts/validate-networking.sh
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

fix: address PR #39 Copilot review comments (round 3)
  infra/terraform/hub/cicd-agents.tf
  infra/terraform/hub/locals.tf
  scripts/setup-ado-pipeline.sh
  scripts/validate-networking.sh
Due: azure-pipelines.yml

fix: address PR #39 Copilot review comments (round 4)
  infra/terraform/hub/data-sources.tf
  infra/terraform/spoke/data-sources.tf
  scripts/validate-networking.sh
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

fix: parameterize environment name in pipeline validation commands
  pipelines/hub-deploy.yml
  pipelines/spoke-deploy.yml
Due: none

feat(infra): self-hosted ACI agents, centralized SSH keys, unified validation (#39)
  .github/copilot-instructions.md
  .github/instructions/ado-pipeline-setup.instructions.md
  infra/terraform/hub/cicd-agents.tf
  infra/terraform/hub/data-sources.tf
  infra/terraform/hub/locals.tf
  infra/terraform/hub/main.tf
  infra/terraform/hub/outputs.tf
  infra/terraform/hub/prod.tfvars
  infra/terraform/hub/terraform.tf
  infra/terraform/hub/variables.tf
  infra/terraform/spoke/data-sources.tf
  infra/terraform/spoke/main.tf
  infra/terraform/spoke/prod.tfvars
  infra/terraform/spoke/variables.tf
  pipelines/hub-deploy.yml
  pipelines/spoke-deploy.yml
  scripts/README.md
  scripts/setup-ado-pipeline.sh
  scripts/validate-deployment.sh
  scripts/validate-networking.sh
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

docs(cicd): add CI/CD landing zone specification
  .github/instructions/cicd-deploy.instructions.md
Due: none

refactor(infra): separate CI/CD agents into dedicated landing zone
  .github/instructions/hub-deploy.instructions.md
  infra/terraform/cicd/README.md
  infra/terraform/cicd/backend-prod.tfbackend
  infra/terraform/cicd/data-sources.tf
  infra/terraform/cicd/locals.tf
  infra/terraform/cicd/main.tf
  infra/terraform/cicd/outputs.tf
  infra/terraform/cicd/providers.tf
  infra/terraform/cicd/terraform.tf
  infra/terraform/cicd/variables.tf
  infra/terraform/hub/cicd-agents.tf
  infra/terraform/hub/locals.tf
  infra/terraform/hub/main.tf
  infra/terraform/hub/outputs.tf
  infra/terraform/hub/prod.tfvars
  infra/terraform/hub/terraform.tf
  infra/terraform/hub/variables.tf
  pipelines/cicd-deploy.yml
Due: azure-pipelines.yml

chore: add cicd/prod.tfvars to gitignore exception
  .gitignore
  infra/terraform/cicd/prod.tfvars
Due: azure-pipelines.yml

fix: address PR #40 review comments
  .github/instructions/cicd-deploy.instructions.md
  pipelines/cicd-deploy.yml
Due: none

fix: address PR #40 round 2 review comments
  .github/instructions/cicd-deploy.instructions.md
  infra/terraform/cicd/.terraform.lock.hcl
  infra/terraform/cicd/backend-prod.tfbackend.example
  infra/terraform/cicd/prod.tfvars.example
Due: azure-pipelines.yml

refactor(backend): separate state containers per landing zone
  .github/instructions/cicd-deploy.instructions.md
  .github/instructions/hub-deploy.instructions.md
  .github/instructions/spoke-deploy.instructions.md
  infra/terraform/cicd/backend-prod.tfbackend
  infra/terraform/cicd/backend-prod.tfbackend.example
  infra/terraform/cicd/data-sources.tf
  infra/terraform/hub/README.md
  infra/terraform/hub/backend-prod.tfbackend
  infra/terraform/hub/backend-prod.tfbackend.example
  infra/terraform/spoke/backend-prod.tfbackend
  infra/terraform/spoke/backend-prod.tfbackend.example
  infra/terraform/spoke/data-sources.tf
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

fix: address PR #40 round 3 review comments
  infra/terraform/cicd/README.md
  infra/terraform/cicd/backend-prod.tfbackend.example
  infra/terraform/cicd/prod.tfvars.example
  infra/terraform/hub/backend-prod.tfbackend.example
  infra/terraform/spoke/backend-prod.tfbackend.example
  pipelines/cicd-deploy.yml
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

refactor(infra): separate CI/CD into dedicated landing zone with per-LZ state containers (#40)
  .github/instructions/cicd-deploy.instructions.md
  .github/instructions/hub-deploy.instructions.md
  .github/instructions/spoke-deploy.instructions.md
  .gitignore
  infra/terraform/cicd/.terraform.lock.hcl
  infra/terraform/cicd/README.md
  infra/terraform/cicd/backend-prod.tfbackend
  infra/terraform/cicd/backend-prod.tfbackend.example
  infra/terraform/cicd/data-sources.tf
  infra/terraform/cicd/locals.tf
  infra/terraform/cicd/main.tf
  infra/terraform/cicd/outputs.tf
  infra/terraform/cicd/prod.tfvars
  infra/terraform/cicd/prod.tfvars.example
  infra/terraform/cicd/providers.tf
  infra/terraform/cicd/terraform.tf
  infra/terraform/cicd/variables.tf
  infra/terraform/hub/README.md
  infra/terraform/hub/backend-prod.tfbackend
  infra/terraform/hub/backend-prod.tfbackend.example
  infra/terraform/hub/cicd-agents.tf
  infra/terraform/hub/locals.tf
  infra/terraform/hub/main.tf
  infra/terraform/hub/outputs.tf
  infra/terraform/hub/prod.tfvars
  infra/terraform/hub/terraform.tf
  infra/terraform/hub/variables.tf
  infra/terraform/spoke/backend-prod.tfbackend.example
  infra/terraform/spoke/data-sources.tf
  pipelines/cicd-deploy.yml
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

refactor(cicd): make CI/CD landing zone self-contained
  .github/instructions/cicd-deploy.instructions.md
  .github/instructions/hub-deploy.instructions.md
  infra/terraform/cicd/data-sources.tf
  infra/terraform/cicd/locals.tf
  infra/terraform/cicd/main.tf
  infra/terraform/cicd/outputs.tf
  infra/terraform/cicd/prod.tfvars
  infra/terraform/cicd/prod.tfvars.example
  infra/terraform/cicd/variables.tf
  infra/terraform/hub/.terraform.lock.hcl
  infra/terraform/hub/prod.tfvars
  scripts/setup-ado-pipeline.sh
Due: azure-pipelines.yml
