Repository ckellywilson/eco-aks-adr: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-hub.yml, azure-pipelines-spoke.yml, azure-pipelines.yml, pipelines/spoke-deploy.yml

azure-pipelines-hub.yml:
  stages:
  - stage: Validate
    displayName: Validate Hub Terraform Code
    jobs:
    - job: ValidateHub
      displayName: Validate Hub Configuration
      steps:
      - checkout: self
      - task: TerraformInstaller@0
        inputs:
          terraformVersion: 1.10.5
      - task: TerraformTaskV4@4
        inputs:
  ...

azure-pipelines-spoke.yml:
  stages:
  - stage: Validate
    displayName: Validate Spoke Terraform Code
    jobs:
    - job: ValidateSpoke
      displayName: Validate Spoke Configuration
      steps:
      - checkout: self
      - task: TerraformInstaller@0
        inputs:
          terraformVersion: $(terraform_version)
  ...

azure-pipelines.yml:
  stages:
  - stage: Validate
    displayName: Validate Terraform Code
    jobs:
    - job: ValidateHub
      displayName: Validate Hub Configuration
      steps:
      - checkout: self
      - task: TerraformInstaller@0
        inputs:
          terraformVersion: $(terraform_version)
      - task: TerraformTaskV4@4
  ...

pipelines/spoke-deploy.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Terraform Validate
    jobs:
    - job: Validate
      displayName: Format & Validate
      steps:
      - task: TerraformInstaller@1
        displayName: Install Terraform
        inputs:
          terraformVersion: 1.14.5
  ...

refactor(cicd): make CI/CD landing zone self-contained
  .github/instructions/cicd-deploy.instructions.md
  .github/instructions/hub-deploy.instructions.md
  infra/terraform/cicd/data-sources.tf
  infra/terraform/cicd/locals.tf
  infra/terraform/cicd/main.tf
  infra/terraform/cicd/outputs.tf
  infra/terraform/cicd/prod.tfvars
  infra/terraform/cicd/prod.tfvars.example
  infra/terraform/cicd/variables.tf
  infra/terraform/hub/.terraform.lock.hcl
  infra/terraform/hub/prod.tfvars
  scripts/setup-ado-pipeline.sh
Due: azure-pipelines.yml

feat(cicd): migrate to Container App Jobs with UAMI auth and private endpoints
  .github/instructions/cicd-deploy.instructions.md
  infra/terraform/cicd/backend-prod.tfbackend
  infra/terraform/cicd/data-sources.tf
  infra/terraform/cicd/locals.tf
  infra/terraform/cicd/main.tf
  infra/terraform/cicd/outputs.tf
  infra/terraform/cicd/prod.tfvars
  infra/terraform/cicd/variables.tf
  infra/terraform/hub/README.md
  infra/terraform/hub/backend-prod.tfbackend
  infra/terraform/spoke/backend-prod.tfbackend
  infra/terraform/spoke/data-sources.tf
  pipelines/cicd-deploy.yml
  pipelines/hub-deploy.yml
  pipelines/spoke-deploy.yml
  scripts/setup-ado-pipeline.sh
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

fix(cicd): address PR review — conditional KV resources, bootstrap pool, depends_on
  .github/instructions/cicd-deploy.instructions.md
  infra/terraform/cicd/main.tf
  infra/terraform/cicd/outputs.tf
  pipelines/cicd-deploy.yml
Due: azure-pipelines.yml

fix(pipelines): conditional pool for hub, fix comments, add script guidance
  pipelines/cicd-deploy.yml
  pipelines/hub-deploy.yml
  pipelines/spoke-deploy.yml
  scripts/setup-ado-pipeline.sh
Due: none

fix: address third Copilot review feedback
  .github/instructions/cicd-deploy.instructions.md
  infra/terraform/cicd/main.tf
  scripts/setup-ado-pipeline.sh
Due: azure-pipelines.yml

fix: remove stale moved blocks comment
  infra/terraform/cicd/main.tf
Due: azure-pipelines.yml

refactor(cicd): centralize DNS in hub, separate state SAs
  .github/instructions/cicd-deploy.instructions.md
  infra/terraform/cicd/locals.tf
  infra/terraform/cicd/main.tf
  infra/terraform/cicd/prod.tfvars
  infra/terraform/cicd/variables.tf
  infra/terraform/hub/backend-prod.tfbackend
  pipelines/cicd-deploy.yml
  pipelines/hub-deploy.yml
  pipelines/spoke-deploy.yml
  scripts/setup-ado-pipeline.sh
Due: azure-pipelines.yml

chore(cicd): remove unused subnet_config local
  infra/terraform/cicd/locals.tf
Due: azure-pipelines.yml

fix: address review 6 comments — stale docs, spoke remote state, md5 compat
  .github/instructions/cicd-deploy.instructions.md
  infra/terraform/cicd/data-sources.tf
  infra/terraform/hub/README.md
  infra/terraform/spoke/data-sources.tf
  scripts/setup-ado-pipeline.sh
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

feat(cicd): centralize DNS, split state SAs, Container App Jobs migration
  .github/instructions/cicd-deploy.instructions.md
  infra/terraform/cicd/backend-prod.tfbackend
  infra/terraform/cicd/data-sources.tf
  infra/terraform/cicd/locals.tf
  infra/terraform/cicd/main.tf
  infra/terraform/cicd/outputs.tf
  infra/terraform/cicd/prod.tfvars
  infra/terraform/cicd/variables.tf
  infra/terraform/hub/README.md
  infra/terraform/hub/backend-prod.tfbackend
  infra/terraform/spoke/backend-prod.tfbackend
  infra/terraform/spoke/data-sources.tf
  pipelines/cicd-deploy.yml
  pipelines/hub-deploy.yml
  pipelines/spoke-deploy.yml
  scripts/setup-ado-pipeline.sh
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

fix(infra): correct hub state SA name to match setup script hash
  infra/terraform/hub/backend-prod.tfbackend
  infra/terraform/spoke/data-sources.tf
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

fix(hub): make KV data source conditional on deploy_jumpbox
  infra/terraform/hub/data-sources.tf
  infra/terraform/hub/main.tf
  infra/terraform/hub/variables.tf
Due: azure-pipelines.yml

fix(hub): enforce platform_key_vault_id when deploy_jumpbox=true
  infra/terraform/hub/variables.tf
Due: azure-pipelines.yml

fix(hub): pass subscription_id to VNet modules to prevent replacement
  infra/terraform/hub/main.tf
Due: azure-pipelines.yml

fix(scripts): use safe arithmetic to avoid set -e crash
  scripts/validate-networking.sh
Due: none

fix(scripts): use safe arithmetic to avoid set -e crash in validation
  scripts/validate-networking.sh
Due: none

feat(cicd): implement bootstrap-first pattern with 2-SA state layout
  .github/instructions/cicd-deploy.instructions.md
  infra/terraform/cicd/backend-prod.tfbackend
  infra/terraform/cicd/data-sources.tf
  infra/terraform/cicd/locals.tf
  infra/terraform/cicd/main.tf
  infra/terraform/cicd/outputs.tf
  infra/terraform/cicd/prod.tfvars
  infra/terraform/cicd/variables.tf
  infra/terraform/hub/README.md
  infra/terraform/hub/backend-prod.tfbackend
  infra/terraform/spoke/backend-prod.tfbackend
  infra/terraform/spoke/data-sources.tf
  pipelines/hub-deploy.yml
  scripts/setup-ado-pipeline.sh
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

fix(cicd): address Copilot review comments
  .github/instructions/cicd-deploy.instructions.md
  infra/terraform/cicd/variables.tf
  infra/terraform/hub/README.md
  pipelines/hub-deploy.yml
  scripts/setup-ado-pipeline.sh
Due: azure-pipelines.yml

fix(cicd): address review round 2 — SA name length, conditional pool, stale docs
  infra/terraform/cicd/README.md
  infra/terraform/cicd/backend-prod.tfbackend
  infra/terraform/cicd/prod.tfvars
  infra/terraform/hub/README.md
  pipelines/cicd-deploy.yml
  pipelines/hub-deploy.yml
  scripts/setup-ado-pipeline.sh
Due: azure-pipelines.yml

fix(cicd): address review round 3 — ternary bug, optional KV, spec alignment
  .github/instructions/cicd-deploy.instructions.md
  infra/terraform/cicd/locals.tf
  infra/terraform/cicd/variables.tf
Due: azure-pipelines.yml

fix(scripts): fix remaining 'always private' message for Hub+Spoke SA
  scripts/setup-ado-pipeline.sh
Due: none

feat(cicd): bootstrap-first CI/CD landing zone with 2-SA state layout (#47)
  .github/instructions/cicd-deploy.instructions.md
  infra/terraform/cicd/README.md
  infra/terraform/cicd/backend-prod.tfbackend
  infra/terraform/cicd/data-sources.tf
  infra/terraform/cicd/locals.tf
  infra/terraform/cicd/main.tf
  infra/terraform/cicd/outputs.tf
  infra/terraform/cicd/prod.tfvars
  infra/terraform/cicd/variables.tf
  infra/terraform/hub/README.md
  infra/terraform/hub/backend-prod.tfbackend
  infra/terraform/spoke/backend-prod.tfbackend
  infra/terraform/spoke/data-sources.tf
  pipelines/cicd-deploy.yml
  pipelines/hub-deploy.yml
  scripts/setup-ado-pipeline.sh
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

fix: update backend configs with correct storage account names
  infra/terraform/cicd/backend-prod.tfbackend
  infra/terraform/cicd/prod.tfvars
  infra/terraform/hub/backend-prod.tfbackend
  infra/terraform/spoke/backend-prod.tfbackend
  infra/terraform/spoke/data-sources.tf
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

fix: strip .git suffix from GitHub repo name in setup script
  scripts/setup-ado-pipeline.sh
Due: none

fix: use parameters for conditional pool selection in pipelines
  pipelines/cicd-deploy.yml
  pipelines/hub-deploy.yml
Due: none

fix: move pool selection from root to job level in pipelines
  pipelines/cicd-deploy.yml
  pipelines/hub-deploy.yml
Due: none

fix: grant User Access Administrator to CI/CD service principal
  scripts/setup-ado-pipeline.sh
Due: none

feat: automate UAMI registration in ADO via pipeline post-apply
  infra/terraform/cicd/outputs.tf
  pipelines/cicd-deploy.yml
  scripts/setup-ado-pipeline.sh
Due: azure-pipelines.yml

revert: remove PAT-based UAMI automation, keep manual registration
  pipelines/cicd-deploy.yml
  scripts/setup-ado-pipeline.sh
Due: none

fix: add implicit dependency for spoke-to-hub VNet peering
  infra/terraform/hub/main.tf
Due: azure-pipelines.yml

fix: allow hub validation to continue on spoke resource checks
  pipelines/hub-deploy.yml
Due: none

fix: remove validation script from pipelines, keep for manual use
  pipelines/hub-deploy.yml
  pipelines/spoke-deploy.yml
Due: none

feat(cicd): populate hub integration variables for Day 2
  infra/terraform/cicd/prod.tfvars
Due: azure-pipelines.yml

fix(cicd): warn that Day 2 must run on MS-hosted agents
  .github/instructions/cicd-deploy.instructions.md
  pipelines/cicd-deploy.yml
Due: none

fix(cicd): warn that Day 2 must run on MS-hosted agents (#49)
  .github/instructions/cicd-deploy.instructions.md
  pipelines/cicd-deploy.yml
Due: none

feat(cicd): add bidirectional VNet peering to spoke VNets
  infra/terraform/cicd/main.tf
  infra/terraform/cicd/prod.tfvars
  infra/terraform/cicd/variables.tf
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-hub.yml: any of: infra/terraform/hub-eastus, azure-pipelines-hub.yml
  azure-pipelines-spoke.yml: any of: infra/terraform/spoke-aks-prod, azure-pipelines-spoke.yml
  azure-pipelines.yml: any of: infra/terraform, azure-pipelines.yml
  pipelines/spoke-deploy.yml: any of: infra/terraform/spoke
