Repository ckellywilson/eco-aks-adr: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-hub.yml, azure-pipelines-spoke.yml, azure-pipelines.yml, pipelines/cicd-deploy.yml, pipelines/hub-deploy.yml, pipelines/spoke-deploy.yml

azure-pipelines-hub.yml:
  stages:
  - stage: Validate
    displayName: Validate Hub Terraform Code
    jobs:
    - job: ValidateHub
      displayName: Validate Hub Configuration
      steps:
      - checkout: self
      - task: TerraformInstaller@0
        inputs:
          terraformVersion: 1.10.5
      - task: TerraformTaskV4@4
        inputs:
  ...

azure-pipelines-spoke.yml:
  stages:
  - stage: Validate
    displayName: Validate Spoke Terraform Code
    jobs:
    - job: ValidateSpoke
      displayName: Validate Spoke Configuration
      steps:
      - checkout: self
      - task: TerraformInstaller@0
        inputs:
          terraformVersion: $(terraform_version)
  ...

azure-pipelines.yml:
  stages:
  - stage: Validate
    displayName: Validate Terraform Code
    jobs:
    - job: ValidateHub
      displayName: Validate Hub Configuration
      steps:
      - checkout: self
      - task: TerraformInstaller@0
        inputs:
          terraformVersion: $(terraform_version)
      - task: TerraformTaskV4@4
  ...

pipelines/cicd-deploy.yml:
  stages:
  - stage: Validate
    displayName: Terraform Validate
    jobs:
    - job: Validate
      displayName: Format & Validate
      pool:
        ${{ if eq(parameters.useSelfHosted, true) }}:
          name: aci-cicd-pool
        ${{ else }}:
          vmImage: ubuntu-latest
      steps:
  ...

pipelines/hub-deploy.yml:
  stages:
  - stage: Validate
    displayName: Terraform Validate
    jobs:
    - job: Validate
      displayName: Format & Validate
      pool:
        ${{ if eq(parameters.useSelfHosted, true) }}:
          name: aci-cicd-pool
        ${{ else }}:
          vmImage: ubuntu-latest
      steps:
  ...

pipelines/spoke-deploy.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Terraform Validate
    jobs:
    - job: Validate
      displayName: Format & Validate
      steps:
      - task: TerraformInstaller@1
        displayName: Install Terraform
        inputs:
          terraformVersion: 1.14.5
  ...

docs(cicd): add RBAC prerequisite comment for spoke peering
  infra/terraform/cicd/main.tf
Due: azure-pipelines.yml, pipelines/cicd-deploy.yml

feat(cicd): add bidirectional VNet peering to spoke VNets (#50)
  infra/terraform/cicd/main.tf
  infra/terraform/cicd/prod.tfvars
  infra/terraform/cicd/variables.tf
Due: azure-pipelines.yml, pipelines/cicd-deploy.yml

feat(spoke): add PostDeploy stage for automated NGINX manifest deployment
  .github/instructions/cicd-deploy.instructions.md
  .github/instructions/spoke-deploy.instructions.md
  pipelines/spoke-deploy.yml
Due: none

feat(spoke): add PostDeploy stage for automated NGINX manifest deployment (#51)
  .github/instructions/cicd-deploy.instructions.md
  .github/instructions/spoke-deploy.instructions.md
  pipelines/spoke-deploy.yml
Due: none

fix(spoke): address Copilot review feedback on PR #51
  .github/instructions/cicd-deploy.instructions.md
  pipelines/spoke-deploy.yml
Due: none

fix(spoke): address Copilot review feedback on PR #51 (#52)
  .github/instructions/cicd-deploy.instructions.md
  pipelines/spoke-deploy.yml
Due: none

docs(spoke): update nginx output to reflect automated deployment
  infra/terraform/spoke/outputs.tf
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

docs(spoke): update nginx output to reflect automated deployment (#53)
  infra/terraform/spoke/outputs.tf
Due: azure-pipelines.yml, pipelines/spoke-deploy.yml

docs: customer-facing README and Eraser.io architecture overview
  ARCHITECTURE.md
  README.md
Due: none

fix(mcp): inherit AZURE_DEVOPS_EXT_PAT from shell instead of VS Code input prompt
  .vscode/mcp.json
Due: none

Path conditions:
  azure-pipelines-hub.yml: any of: infra/terraform/hub-eastus, azure-pipelines-hub.yml
  azure-pipelines-spoke.yml: any of: infra/terraform/spoke-aks-prod, azure-pipelines-spoke.yml
  azure-pipelines.yml: any of: infra/terraform, azure-pipelines.yml
  pipelines/cicd-deploy.yml: any of: infra/terraform/cicd
  pipelines/hub-deploy.yml: any of: infra/terraform/hub
  pipelines/spoke-deploy.yml: any of: infra/terraform/spoke
